node_modules
.pnpm-store

npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

dist
build
.cache

.vscode
.idea
*.swp

.git
.gitignore

.DS_Store
Thumbs.db

coverage
__tests__
__mocks__

.env
.env.local
